html,

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: aquirebold;
  src: url(../styles/fonts/aquirebold.woff2);
}
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.BGS{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
/* Copy this @keyframes block to your CSS*/
@keyframes yourAnimation {
  0.0%{
      transform: translate3d(0px,50px);
  }
  50.4%{
      transform: translate(0px,3px);
  }
}
.Move{
  animation: yourAnimation 1s ease-in-out infinite;
}
.Alien{
  animation: yourAnimation 1s ease-in-out infinite;
  padding-left: 100px
}