html,
body {
width: 100%;
overflow:visible;

}
body {
  overflow-x: hidden;
}
@font-face {
  font-family: aquirebold;
  src: url(../styles/fonts/aquirebold.woff2);
}
@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
a {
  color: inherit;
  text-decoration: none;
}

.BGS {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
/* Copy this @keyframes block to your CSS*/
@keyframes yourAnimation {
  0.0% {
    transform: translate3d(0px, 50px);
  }
  50.4% {
    transform: translate(0px, 3px);
  }
}
.Move {
  animation: yourAnimation 1s ease-in-out infinite;
}
.Alien {
  animation: yourAnimation 1s ease-in-out infinite;
  padding-left: 100px;
}
.CommentCard {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(152, 61, 61, 0.02), rgba(152, 61, 61, 0.02)),
    linear-gradient(
      180deg,
      rgba(187, 117, 117, 0.2) 36.46%,
      rgba(187, 117, 117, 0) 91.67%
    ),
    #ce7bb0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border-width: 5px;
  border-style: solid;
  border-color: #ce7bb0;
  background-image: linear-gradient(to bottom, #711A75 0%, #3a4ed5 100%);
}
.mountain{
  position: relative;
  width: 100%;
  
}
